<% if (toast && toast.length > 0) { %>
<div id="toast" class="toast <%= toast[0].type %>">
  <div class="toast__content">
    <p><%= toast && toast[0].message ? toast[0].message : '' %></p>
    <% if (toast && toast[0].shortId) { %>
    <p>Short ID: <%= toast[0].shortId %></p>
    <% } %>
  </div>
  <span class="toast__close"><i class="bx bx-x"></i></span>
  <span class="toast__redirect"
    ><a href="/url/<%= toast[0].shortId %>" target="_blank"
      ><i class="bx bx-link"></i> </a
  ></span>
</div>
<% } %>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const toast = document.getElementById("toast");
    const closeBtn = document.querySelector(".toast__close");

    if (toast) {
      // Show toast with slide-in
      requestAnimationFrame(() => toast.classList.add("toast--show"));

      // Close on click
      closeBtn?.addEventListener("click", () => {
        toast.classList.remove("toast--show");
        toast.classList.add("toast--hide");
        setTimeout(() => toast.remove(), 400); // wait for animation
      });
    }
  });
</script>
